name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: "3.12"
    - name: Prerequisites
      run: |
        python -m pip install mypy
#        python -m pip install --upgrade pip
#        # pip install pandas dvc
#        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Type annotations checking
      run: |
        make typing